24-jan-how-email-works/

# 24 Jan - How Email Works ·

2 protocols I found out that actually the email infrastructure is consisted to 2 level of abstraction, the SMTP communication protocol and the email formatting. The analogy is close to SMTP protocol being the HTTP protocol and email formatting being the HTML formatting (in case of web).
The protocol used by the SMTP server to communicate with each other is defined in RFC 821, which is superceeded by RFC 5321. And for the formatting of the email, RFC 822, superceeeded by RFC 5322.

[http://localhost:1313/24-jan-how-email-works/](http://localhost:1313/24-jan-how-email-works/)

Test comment